* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

:root {
    /* colours */
    --background-panel-color: #2e3337;
    --background-page-color: #222629;
    --heading-text-color: #86c232;
    --highlight-color: #86c232;     /* Used for smaller artefacts */
    --highlight-color-dark: #62892f;
    --body-text-color: #d0d2d2;
    --side-panel-tag-line-color: #d0d2d2;
    --inline-code-color: #cc6666;
    --block-quote-text-color: #d0d2d2;
    --block-quote-border-color: #d0d2d2;

    /* fonts */
    --body-font-family: Montserrat;
    --heading-font-family: Montserrat;

    /* global Layouts */
    --page-top-margin: 5rem;
    --global-container-max-width: 78rem;
    --container-item-horizontal-gap: 1rem;
    --container-item-vertical-gap: 1rem;
    --panel-padding: 1rem;
    --panel-border-radius: 0.5rem;

    /* side panel Specifics */
    --side-panel-flex-basis: 20%;

    /* toc panel specifics */
    --toc-panel-flex-basis: 15%;

    /* post panel specifics */
    --post-panel-flex-basis: 60%;

    /* page panel specifics */
    --page-panel-flex-basis: 78%;

  }

/* Scroll Bar */
::-webkit-scrollbar {
    width: 1rem;
  }
  
::-webkit-scrollbar-track {
    background: var(--background-panel-color);
  }
  
::-webkit-scrollbar-thumb {
    background:var(--highlight-color);
  }

::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
}

/* html tags etc. */

html {
    line-height: 1.5rem;
    background-color: var(--background-page-color);
    color: var(--body-text-color);
    font-family: var(--body-font-family);
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    margin-top: 0;
    color: var(--heading-text-color);
}

h2 {
    margin-top: 2rem;
    border-color: var(--highlight-color);
    border-bottom-style: solid;
    border-width: 2px;
    padding: 4px;
}

/* h3, h4, h5, h5 {
    font-family: var(--heading-font-family);
    margin-top: 0;
    color: var(--body-text-color);
} */

hr {
    position: relative;
    margin: 1.5rem 0;
    border: 0;
    border-top: 2px solid var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color)
}

a {
    color: var(--body-text-color);
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: underline;
    font-weight: bold;
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: var(--highlight-color);
    text-transform: uppercase;
}
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted var(---var(--highlight-color-dark));
}

  /* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
    
/* Lists */
    ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: .5rem;
}

strong {
    font-weight: bold;
}
  
/* Quotes */
blockquote {
    font-style: italic;
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: var(--block-quote-text-color);
    border-left: .25rem solid var(--block-quote-border-color);
  }
  blockquote p:last-child {
    margin-bottom: 0;
  }
  
 img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: var(--panel-border-radius);
}

/* Tables (we could make these more interesting, but I don't use them much :) */

table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid var(--body-text-color);
    border-collapse: collapse;
}
td,
th {
    padding: .25rem .5rem;
    border: 1px solid var(--body-text-color);
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: var(--background-panel-color);
}

.pop-out {
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--body-text-color);
    background-color:var(--background-page-color);
    border-style: solid;
    border-color: var(--highlight-color-dark)
  }

/* global container */

.flexbox-container {
    display: flex;
    max-width: var(--global-container-max-width);
    margin-left: auto;
    margin-right: auto;
}

/* panel with global settings */

.panel {
    padding: var(--panel-padding);
    margin-top: var(--page-top-margin);
    border-radius: var(--panel-border-radius);
    background-color: var(--background-panel-color);
    margin-bottom: auto;
}

/* panel used to display pages - no toc, so wider */

.page-panel {
    margin-left: var(--container-item-horizontal-gap);
    color: var(--body-text-color);
}

/* panel used to display posts (smaller so we can fit toc in) */

.post-panel {
    margin-left: var(--container-item-horizontal-gap);
    margin-right: var(--container-item-horizontal-gap);
    color: var(--body-text-color);
}

.post-panel-title {
    line-height: 2rem;
    margin-top: -0.25rem;
    color: var(--highlight-color);
}

.post-panel-date {
    display: block;
    text-align: left;
    margin-top: -0.75rem;
    margin-bottom: 1rem;

}

/* side panel */

.side-panel {
    width: 15rem;
    flex: 0 0 15rem;
    text-align: center;
}

.side-panel-title h1 a {
    text-align: center;
    font-size: 2rem;
    color: var(--heading-text-color);
}

.side-panel-tag-line {
    color: var(--side-panel-tag-line-color);
    margin-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}

.side-panel-site-contents {
    margin-top: 1rem;
    border-top: solid;
    border-bottom: solid;
}

.side-panel-site-contents-item {
    font-weight: normal;
}

.side-panel-contacts {
    margin-top: 1rem;
    text-align: center;
}

/* table of contents panel (posts only) */

/* we wrap the actual panel in a flex panel. This is so we can fix the location of
 * the panel but also have it scroll with the contents */

.toc-panel-flex {
    flex: 0 0 15rem;
    flex-direction: column;
}

.toc-panel-fixed {
    position: fixed;
    align-items: left;
    width: 15rem;
    color: var(--body-text-color);
    text-align: center;
    padding: var(--panel-padding);
}

.toc-panel-fixed a {
    text-decoration: none;
}

.toc-panel-fixed h2 {
    border-style: none;
    margin-top: 0;
}

.toc-panel-item {
    text-align: left;
    line-height: 1.5;
    display: block;
    font-size: 90%;
    color: var(--body-text-color);
}

.toc-panel-item-h2 {
    text-indent: 0rem;
}

.toc-panel-item-h3 {
    text-indent: 1rem;
}

/* panel used to display index items on the front page */

.index-panel {

/*  because we're changing the colour of the panel background
    to match the page (darker) we need to reset padding to
    0 to align the top of the first index item with the other
    the panels otherwise it looks like they've moved down*/

    flex: 1;
    background-color: var(--background-page-color);
    margin-left: var(--container-item-horizontal-gap);
    padding: 0;

    /* display: flex; */
    flex-direction: column;
    align-items: left;
}

.index-panel-item {
    height: auto;
    padding: var(--panel-padding);
    border-radius: var(--panel-border-radius);
    background-color: var(--background-panel-color);
    margin-bottom: var(--container-item-vertical-gap);
}

.index-panel-item a {
    text-decoration: none;
}

.index-panel-item a:hover, a:focus {
    text-decoration: underline;
    color: var(--highlight-color);
}

.index-panel-item-date {
    display: block;
    text-align: left;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

.pagination-panel {
    margin-top: 2rem;
    padding: 0;
    text-align: center;
    background-color: var(--background-page-color);
}
  
  /* Pagination items can be `span`s or `a`s */
  
.pagination-panel-item {
    float: left;
    height: auto;
    width: 50%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-page-color);
    font-weight: bolder;
    border: 2px solid var(--highlight-color);
}

.pagination-panel-item:first-child {
    margin-bottom: -1px;
}

/* code */

.highlight {
    margin-bottom: 1rem;

}
.highlight pre {
    margin-bottom: 0;
    border-radius: var(--panel-border-radius);
}

code,
pre {
    font-family: Inconsolata;
    font-weight: bold;
    /* font-family: Menlo, Consolas, Monaco, "Courier New", monospace; */
}
code {
    padding: .25em .5em;
    /* font-size: 85%; */
    color: var(--inline-code-color);
    background-color: #2e3337;
}
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.95rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #000;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: var(--panel-border-radius);
}
.highlight pre {
    margin-bottom: 0;
}

/* Re-arrange top-to-bottom if we're looking on a phone */

@media (max-width: 48rem) {
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
    html {
        overflow: scroll; /* Hide scrollbars */
    }
    .flexbox-container {
        max-width: 48rem;
        align-items: stretch;
        flex-direction: column;
    }
    .side-panel {
        order: 0;
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .toc-panel-flex {
        flex: 0 0 0;
        flex-direction: column;
        margin-bottom: 1rem;
        
    }
    .toc-panel-fixed {
        position: unset;
        margin-top: 0;
        /* margin-bottom: 1rem; */
        order: 1;
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        height: auto;
        margin-right: auto;
    } 
    .post-panel {
        right: auto;
        margin-top: 0;
        margin-bottom: 1rem;
        order: 2;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .page-panel {
        right: auto;
        margin-top: 0;
        margin-bottom: 1rem;
        order: 2;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .index-panel {
        right: auto;
        margin-top: 0;
        margin-bottom: 1rem;
        order: 3;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .index-panel-item {
        height: auto;
        margin-top: 0;
        margin-bottom: 1rem;
        width: 100%;
    }
    .index-panel-item a {
        line-height: 2rem;
    }
    .index-panel-date {
        margin-top: -0.25;
    }
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
      }
}
